:root {
    --primary-color: rgb(51, 51, 51);
    --secondary-color: rgb(136, 130, 130);
    --white: rgb(248, 241, 241);
    --blue: rgb(16, 43, 254);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    justify-content: center;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(39, 37, 37);
    margin: 0;
    padding: .5rem 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1.875rem;
    gap: 1.875rem;
    h3 {
        margin: 0;
        padding: 0;
    }
    .Test-Animations {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        padding: 2rem;
        .card-frame1, .card-frame2, .card-frame3 {
            background-color: var(--blue);
            width: auto;
            height: fit-content;
            padding:  2.5rem 2rem;
            border-radius: .5rem;
        }
    }
}


.card-frame1 {
    animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}



/* Keyframes */

@keyframes spin {
    0% {
        
    }
    50% {
        scale: 2;
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 2;
    }
}




