:root {
    --primary-color: rgb(82, 77, 77);
    --secondary-color: rgb(136, 130, 130);
    --white: rgb(248, 241, 241);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 1.875rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}


